.about-wrapper {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}
.about-img{
    margin: 0 auto;
    width: calc(100% - 20px);
}

.about-img img {
    
    width: 100%;
    
}
.about-desc p {
    font-size: 14px;
    margin-top: 20px;
}