.cards-stok-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards-stok-wrapper img {
  cursor: pointer;
  height: 54px;
  border-radius: 5px;
}

.modal__wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out;
}

.modal__wrapper.open {
  height: 100%;
  z-index: 100;
  opacity: 1;
  visibility: visible;
}

.modal__wrapper.close {
  height: 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.modal__body {
  max-width: 500px;
  margin: auto;
  max-height: 100%;
  overflow-y: scroll;
}

.modal__body::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.modal__close {
  text-align: right;
  color: rgb(79, 79, 79);
  cursor: pointer;
}

.titlePurchase {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.listPurchase {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 24px;
  font-weight: 500;

  color: rgb(118, 63, 132);
}

.allPurchase {
  margin: 10px 0 10px 5px;
}

.totalPrise {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 24px;
  color: rgb(15 101 87);
  font-weight: 700;
}

.purchase {
  display: none;
}

legend {
  text-align: center;
  font-size: 24px;
}

.card-mod {
  margin: 15% auto;
  padding: 20px;
  width: 256px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 30px rgb(85, 61, 86);
}
label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"],
input[type="password"],
select {
  margin-bottom: 10px;
  padding: 2px 5px;
  width: 95%;
  height: 24px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input[type="submit"] {
  display: inline-block;
  margin: 0 5px;
  padding: 6px 15px;
  width: auto;
  border: none;
  border-radius: 5px;
  background: rgb(15 101 87);
  color: #fff;
  font-family: "Rubik Dirt", cursive;
  cursor: pointer;
}
.half-width {
  display: inline-block;
  margin-right: -4px;
  width: 50%;
}

.half-width input,
.half-width select {
  width: 80%;
}

.buttons {
  text-align: center;
}

.card-mod__inner {
  width: 100%;
  margin: 0 auto;
}

.img-container {
  max-height: 341px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.card-mod__inner__img {
  max-width: 100%;
  margin: 0 auto;
}

.card-mod__inner p {
  font-size: 14px;
}

.links-wrapper {
  background: linear-gradient(100.03deg, #f381c3 25.36%, #7c75ef 106.07%);
  border-radius: 10px;
}

.links-wrapper__link {
  width: calc(100% - 20px);
  margin: 40px auto 0;
}

.link-title {
  padding-top: 12px;
  color: white;
}
.links-wrapper {
  margin: 15px auto;
}
.links-wrapper:last-child {
  padding-bottom: 1px;
}
.links-wrapper__link a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  text-decoration: none;
  padding: 4px 21px;
  color: #d7699c;
  background: white;
  border-radius: 48px;
  font-size: 14px;
  font-weight: 700;
  line-height: 145%;
}

.arrow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  left: 17px;
}

/* Polit */
.modal__body-polit {
  margin: auto;
  max-height: 100%;
  overflow-y: scroll;
}

.card-mod-polit {
  margin: 5% 5%;
  border-radius: 10px;
  padding: 20px;
  background: white;
}

.polit-title {
  font-weight: 600;
}

@media (min-width: 650px) {
  .cards-stok-wrapper img {
    height: 65px;
  }
  .card-mod {
    margin: 6% auto;
    width: 330px;
  }
  .img-container {
    max-height: 421px;
  }
  .links-wrapper__link {
    margin: 13px auto 0;
  }
  .card-mod-polit {
    margin: 10% 10%;

    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(85, 61, 86);
  }
}
