ul {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.header-logo {
  display: -webkit-box; /* Safari 6-9.0 */
  display: -webkit-flex; /* Safari 9.1-10 */
  display: flex;
}

.menu-wrapper {
  display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 25px;
}

.menu-links {
  padding-bottom: 70px;
}
.menu-links a {
  display: inline;
  padding-right: 20px;
}

.tele-link {
  display: flex;
}
.tele-link p{
  margin: auto 15px;
  font-size: 20px;
    line-height: 145%;
    font-weight: 700;
}

.title-pop {
  margin-left: 10px;
}

.title {
  text-transform: uppercase;
  font-size: calc(24px + 26 * ((100vw - 320px) / (1080 - 320)));
  font-weight: 400;
  font-family: Geometria;
  letter-spacing: 0.72px;
  margin: 33px 0 12px;
}
.about-title-mob{
  text-transform: uppercase;
  font-size: calc(24px + 26 * ((100vw - 320px) / (1080 - 320)));
  font-weight: 400;
  font-family: Geometria;
  letter-spacing: 0.72px;
  margin: 33px 0 12px;
}

.inner-container {
  padding: 0 10px;
}

@media (min-width: 650px) {
  .about-title-mob {
    display: none;
  }
}
@media (max-width: 650px) {
  
  .title:first-child {
    text-align: center;
  }
}
