.footer-wrapper {
  background: linear-gradient(100.03deg, #f381c3 25.36%, #7c75ef 106.07%);
  color: white;
  padding: 30px 10px 5px;
  margin: 50px auto 0;
}

.footer-login {
  padding-top: 16px;
  text-align: center;
  font-size: 27px;
  text-transform: uppercase;

  font-weight: 500;
  font-family: Geometria;
  letter-spacing: 0.72px;
  margin: 33px 0 12px;
}
.footer-polit {
  display: block;
  justify-content: space-between;
  padding-bottom: 5px;
}
.footer-polit a {
  text-decoration: underline;
}
.footer-polit p {
  font-weight: normal;
  font-size: 10px;
}
.footer-links {
  margin: 15px 0;
}
.footer-links a {
  font-size: 14px;

  text-transform: uppercase;
}

@media (min-width: 650px) {
  .footer-wrapper {
    margin: 50px auto 0;
    padding: 0 10px;
  }
  .footer-wrapper a {
    width: 50%;
  }
  .footer-inner {
    display: flex;
    justify-content: space-around;
  }

  .footer-links {
    margin: 33px auto 0;
  }
}
