@import url('https://fonts.cdnfonts.com/css/geometria');
body {
  margin: 0;
  font-family: 'Geometria', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#advantages, #about, #store {
  position: relative;
  top: -60px; /* Задайте отрицательное значение, чтобы создать отступ выше якоря */
  visibility: hidden; /* Скрыть якорь, чтобы он не занимал место на странице */
}
#store {
  position: relative;
  top: 0px; /* Задайте отрицательное значение, чтобы создать отступ выше якоря */
  visibility: hidden; /* Скрыть якорь, чтобы он не занимал место на странице */
}

/* @media (min-width: 650px) {
  body {
    background-color: #FBFBFB;;
  }
} */